* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?i65d8m');
    src: url('../fonts/icomoon.eot?i65d8m#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?i65d8m') format('truetype'),
        url('../fonts/icomoon.woff?i65d8m') format('woff'),
        url('../fonts/icomoon.svg?i65d8m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom: 1;
}