/* header部分css */
.header {
    height: 55px;
    margin: 25px auto;
}

.header .logo {
    float: left;
    height: 55px;
}
.header .logo a {
    display: block;
    width: 171px;
    height: 55px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}
.header .search {
    float: left;
    margin-left: 173px;
    padding: 0;
}

.header .search input[type='text'] {
    width: 455px;
    height: 32px;
    border: 2px solid #b1191a;
    border-left: 3px solid #b1191a;
    border-right: 0;
    vertical-align: bottom;
    font-size: 14px;
    text-indent: 10px;
}

.header .search .btn {
    width: 80px;
    height: 36px;
    margin-left: -5px;
    background-color: #b1191a;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header .search p a {
    font-size: 12px;
    padding: 0 12px;
    color: #666666;
}

.header .search p a:nth-of-type(1) {
    color: #c81623;
}

/* 在这里遇到搜索按钮和框对不齐的情况，按钮会把框往下挤1px，删除按钮后
框恢复原位；给框添加vertical-align: bottom;，
原因可能是：高度并不是完全准确，虽然设定框height: 32px;border: 2px
但进入浏览器检查模式可以看到高度实际为35.2；另外文本框与按钮对齐方式
不同，因此给框添加vertical-align: bottom */
.header .shopcar {
    position: relative;
    float: right;
    height: 36px;
    margin-right: 63px;
    padding: 0 12px 0 19px;
    background-color: #dfdfdf;
    line-height: 36px;
}

.header .shopcar a {
    color: #666666;
    font-size: 12px;
}

.header .shopcar a::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13px;
    padding-right: 7px;
    background: url(../images/icons.png) no-repeat -413px -88px;
}

.header .shopcar a::after {
    content: "";
    font-family: 'icomoon';
    padding-left: 14px;
}

.header .shopcar .shopnum {
    position: absolute;
    top: -7px;
    left: 105px;
    width: 16px;
    height: 14px;
    border-radius: 7px 7px 7px 0;
    background-color: #e60012;
    color: #fefefe;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
}

/* nav部分css */
.nav {
    border-bottom: 2px solid #b1191a;
    height: 45px;
}

.nav .dropdown {
    float: left;
    width: 209px;
    height: 512px;
    background-color: rgba(177, 25, 26, .9);
    color: #fff;
}

.nav .dropdown dt {
    width: 209px;
    height: 45px;
    background-color: #B1191A;
    font: normal 400 16px/45px 'Microsoft YaHei';
    text-align: center;
}

.nav .dropdown dd {
    position: relative;
}

.nav .dropdown dd a {
    display: block;
    padding-left: 8px;
    margin-left: 2px;
    color: #fff;
    font: normal 400 14px/31px 'Microsoft YaHei';
}

.nav .dropdown a::after {
    position: absolute;
    top: 0px;
    right: 11px;
    content: '';
    font-family: 'icomoon';
}

.nav .dropdown a:hover {
    background-color: #fff;
    color: #c81623;
}

/* 注释掉是表示我会，但是觉得有变化更好看
.nav .dropdown a:hover::after {
    color: #fff;
} */

.nav .navitems {
    float: left;
}

.nav .navitems li {
    float: left;
    padding-left: 46px;
}

.nav .navitems li a {
    color: #333333;
    line-height: 45px;
}

.nav .navitems li:last-of-type {
    font-size: 14px;
}

/* main部分css */
.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 11px 220px;
}

.main .focus {
    float: left;
    width: 721px;
    height: 100%;
    margin-right: 9px;
}

.main .newflash {
    float: right;
    width: 250px;
    height: 454px;
}

.main .newflash .fastreport {
    width: 248px;
    height: 163px;
    border: 1px solid #E4E4E4;
}

.main .newflash .fastreport h5 {
    width: 232px;
    height: 32px;
    padding-left: 16px;
    border-bottom: 1px dotted #E4E4E4;
    font: normal 400 14px/32px 'Microsoft YaHei';
    color: #333333;
}

.main .newflash .fastreport h5 a {
    float: right;
    font-size: 12px;
    color: #333333;
}

.main .newflash .fastreport h5 a::after {
    content: '';
    font-family: 'icomoon';
    margin: 0 14px 0 7px;
}

.main .newflash .fastreport ul {
    padding-top: 6px;
}

.main .newflash .fastreport ul li a {
    padding-left: 14px;
    font: normal 400 12px/24px 'Microsoft YaHei';
    color: #666666;
}

/* main life模块 */
.main .newflash .life {
    width: calc(100%-2px);
    height: 209px;
    overflow: hidden;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
.main .newflash .life ul {
    width: 260px;
    height: 209px;
}

.main .newflash .life li {
    float: left;
    width: 61px;
    height: 69px;
    border-right: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    text-align: center;
}

.main .newflash .life li:nth-of-type(4n) {
    width: 62px;
    border-right: 0;
}

.main .newflash .life li div[class^="lifepic"] {
    margin: 13px auto;
    margin-bottom: 0;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}

.main .newflash .life li .lifepic1 {
    width: 23px;
    height: 26px;
    background-position: -17px -15px;
}

.main .newflash .life li .lifepic2 {
    width: 26px;
    height: 25px;
    background-position: -78px -15px;
}

.main .newflash .life li .lifepic3 {
    width: 24px;
    height: 25px;
    background-position: -141px -15px;
}

.main .newflash .life li .lifepic4 {
    width: 25px;
    height: 25px;
    background-position: -206px -15px;
}

.main .newflash .life li .lifepic5 {
    width: 23px;
    height: 23px;
    background-position: -17px -88px;
}

.main .newflash .life li .lifepic6 {
    width: 26px;
    height: 23px;
    background-position: -78px -88px;
}

.main .newflash .life li .lifepic7 {
    width: 24px;
    height: 23px;
    background-position: -141px -88px;
}

.main .newflash .life li .lifepic8 {
    width: 25px;
    height: 23px;
    background-position: -206px -88px;
}

.main .newflash .life li .lifepic9 {
    width: 23px;
    height: 22px;
    background-position: -17px -159px;
}

.main .newflash .life li .lifepic10 {
    width: 26px;
    height: 24px;
    background-position: -78px -159px;
}

.main .newflash .life li .lifepic11 {
    width: 24px;
    height: 24px;
    background-position: -141px -159px;
}

.main .newflash .life li .lifepic12 {
    width: 24px;
    height: 24px;
    background-position: -206px -159px;
}

.main .newflash .life a {
    font-size: 12px;
    color: #333333;
    line-height: 36px;
}

.main .newflash .bottombargain {
    width: 250px;
    height: 75px;
    margin-top: 6px;
}

/* .recommend {
} */
.recommend .recom-logo {
    float: left;
    width: 206px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}

.recommend .recom-logo img {
    width: 72px;
    height: 86px;
    margin-top: 38px;
}
.recommend .recom-list {
    float: left;
    width: 994px;
    height: 163px;
    background-color: #ebebeb;
}
.recommend .recom-list>li {
    float: left;
    width: 248px;
    height: 163px;
}
.recommend .recom-list a {
    display: block;
    width: 248px;
    height: 131px;
    border-right: 1px solid #dddddd;
    margin-top: 10px;
    padding-top: 12px;
    color: #666666;
    font-size: 12px;
}
.recommend .recom-list a ul {
    float: left;
    margin-left: 18px;
    width: 84px;
    /* 限定宽度li就不会撑满整个a */
}
.recommend .recom-list a img {
    float: right;
    padding-top: 3px;
    padding-right: 34px;
}
.recommend .recom-list a ul li h3 {
    font: normal 700 16px/21px 'Microsoft YaHei';
    color: #333333;
    margin-bottom: 7px;
}
.recommend .recom-list a ul li em {
    padding: 0px 3px;
    background-color: #00a0e8;
    font: normal 400 14px/21px 'Microsoft YaHei';
    color: #ffffff;
}
.recommend .recom-list li:nth-of-type(2) a ul li em {
    background-color: #5fb200;
}
.recommend .recom-list li:nth-of-type(3) a ul li em {
    background-color: #e2162f;
}
.recommend .recom-list li:nth-of-type(4) a ul li em {
    background-color: #0085fb;
}

.recommend .recom-list a ul li i {
    display: inline-block;
    width: 57px;
    height: 18px;
    margin-top: 20px;
    border-radius: 9px;
    background-color: #5fb200;
    color: #ffffff;
    text-align: center;
}
.recommend .recom-list li:nth-of-type(3) a ul li i {
    background-color: #e2162f;
}
.recommend .recom-list li:nth-of-type(4) a ul li i {
    background-color: #0085fb;
}

.electronic {
    margin-top: 29px;
}
.electronic .elec-hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.electronic .elec-hd h4 {
    float: left;
    font: normal 400 18px 'Microsoft YaHei';
    color: #c81623;
}
.electronic .elec-hd .tab-list {
    float: right;
    margin-top: 7px;
    padding-right: 15px;
}
/* .electronic .elec-hd ul {
    float: right;
    margin-top: 7px;
    padding-right: 15px;
} */
.electronic .elec-hd ul li {
    float: left;
    height: 12px;
    line-height: 12px;
    font: normal 400 12px/12px 'SimSun';
    /* 这个font给竖线，a再另外复制 */
}
.electronic .elec-hd ul li:nth-of-type(2n) {
    padding-left: 13px;
    padding-right: 14px;
}
.electronic .elec-hd ul li a {
    font: normal 400 12px/12px 'SimSun';
    color: #666666;
}
.electronic .elec-hd ul li:first-of-type a {
    color: #c81623;
}

.electronic .elec-bd {
    height: 360px;
}
.electronic .elec-bd .tab-list-item>div {
    float: left;
}
.electronic .elec-bd a {
    display: block;
}
.electronic .elec-bd .cols-209 {
    width: 209px;
    height: 360px;
    background-color: #fbfbfb;
}
.electronic .elec-bd .cols-209 li {
    float: left;
}
.electronic .elec-bd .cols-209 li a {
    width: 86px;
    height: 32px;
    margin-left: 12px;
    border-bottom: 1px solid #ededed;
    font: normal 400 12px/32px 'MicrosoftYaHei';
    color: #666666;
    text-align: center;
}
.electronic .elec-bd .cols-209 img {
    margin-top: 10px;
}
.electronic .elec-bd .cols-329 {
    width: 329px;
    height: 360px;
}
.electronic .elec-bd .cols-219 {
    width: 219px;
    height: 360px;
    border-right: 1px solid #ededed;
}
.electronic .elec-bd .cols-219 a:first-of-type {
    height: 181px;
    border-bottom: 1px solid #ededed;
}
.electronic .elec-bd .cols-221 {
    width: 221px;
    height: 360px;
    border-right: 1px solid #ededed;
}
.electronic .elec-bd .cols-218 {
    width: 218px;
    height: 360px;
}
.electronic .elec-bd .cols-218 a:first-of-type {
    height: 181px;
    border-bottom: 1px solid #ededed;
}
.electronic .elec-ft {
    height: 65px;
    margin-top: 20px;
}