/* header部分css */
.header {
    height: 55px;
    margin: 25px auto;
}

.header .logo {
    float: left;
    height: 56px;
}
.header .logo h1 {
    float: left;
}
.header .logo a {
    display: block;
    width: 172px;
    height: 56px;
    background: url(../images/list-logo.png) no-repeat;
    font-size: 0;
}
.header .logo img {
    width: 56px;
    height: 26px;
    border-left: 1px solid #b1191a;
    margin: 12px 0 12px 13px;
    padding: 3px 0 3px 13px;
}
.header .search {
    float: left;
    margin-left: 90px;
    padding: 0;
}

.header .search input[type='text'] {
    width: 455px;
    height: 32px;
    border: 2px solid #b1191a;
    border-left: 3px solid #b1191a;
    border-right: 0;
    vertical-align: bottom;
    font-size: 14px;
    text-indent: 10px;
}

.header .search .btn {
    width: 80px;
    height: 36px;
    margin-left: -5px;
    background-color: #b1191a;
    border: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header .search p a {
    font-size: 12px;
    padding: 0 12px;
    color: #666666;
}

.header .search p a:nth-of-type(1) {
    color: #c81623;
}

/* 在这里遇到搜索按钮和框对不齐的情况，按钮会把框往下挤1px，删除按钮后
框恢复原位；给框添加vertical-align: bottom;，
原因可能是：高度并不是完全准确，虽然设定框height: 32px;border: 2px
但进入浏览器检查模式可以看到高度实际为35.2；另外文本框与按钮对齐方式
不同，因此给框添加vertical-align: bottom */
.header .shopcar {
    position: relative;
    float: right;
    height: 36px;
    margin-right: 63px;
    padding: 0 12px 0 19px;
    background-color: #dfdfdf;
    line-height: 36px;
}

.header .shopcar a {
    color: #666666;
    font-size: 12px;
}

.header .shopcar a::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 13px;
    padding-right: 7px;
    background: url(../images/icons.png) no-repeat -413px -88px;
}

.header .shopcar a::after {
    content: "";
    font-family: 'icomoon';
    padding-left: 14px;
}

.header .shopcar .shopnum {
    position: absolute;
    top: -7px;
    left: 105px;
    width: 16px;
    height: 14px;
    border-radius: 7px 7px 7px 0;
    background-color: #e60012;
    color: #fefefe;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
}

/* nav部分css */
.nav {
    height: 44px;
    border-bottom: 2px solid #b1191a;
}
.nav .navlist ul {
    float: left;
}
.nav .navlist ul li {
    float: left;
    height: 44px;
}
.nav .navlist .discount {
    margin-left: 28px;
}
.nav .navlist .discount li a {
    padding-right: 57px;
    font: normal 700 16px/44px 'Microsoft YaHei';
    font-size: 16px;
    color: #000;
}
.nav .navlist .shop_type li a {
    padding-right: 46px;
    font: normal 400 14px/46px 'Microsoft YaHei';
    color: #666666;
}
.nav .navlist .shop_type li:nth-of-type(2) a {
    color: #b1191a;
}
.nav .navlist .shop_type li:last-of-type a {
    padding-right: 0;
}
.nav .navlist .shop_type li:last-of-type a::after {
    content: '';
    font-family: 'icomoon';
    padding-right: 20px;
}

.shopping {
    height: 120px;
}

.shop_list {
    margin-top: 25px;
    margin-bottom: 250px;
}
.shop_list li {
    float: left;
    height: 458px;
    margin-right: 10px;
    border: 1px solid transparent;
}
.shop_list li:hover {
    border: 1px solid #e12228;
}
.shop_list li:nth-of-type(4n) {
    margin-right: 0;
}