.header {
    height: 55px;
    margin: 16px auto 5px;
}

.header .logo {
    float: left;
    height: 56px;
    border-bottom: 2px solid #b1191a;
}

.header .logo h1 {
    float: left;
}

.header .logo a {
    display: block;
    width: 172px;
    height: 56px;
    background: url(../images/list-logo.png) no-repeat;
    font-size: 0;
}

.region_form {
    height: 520px;
    margin-top: 21px;
    border: 1px solid #dfdfdf;
}

.region_form .region_hd {
    height: 41px;
    background-color: #ECECEC;
    border-bottom: 1px solid #dddddd;
}

.region_form .region_hd h5 {
    float: left;
    padding-left: 10px;
    font: normal 400 18px/41px 'Microsoft YaHei';
    color: #333333;
}

.region_form .region_hd p {
    float: right;
    padding-right: 10px;
    font: normal 400 14px/41px 'Microsoft YaHei';
    color: #333333;
}

.region_form .region_hd p a {
    font: normal 400 14px/41px 'Microsoft YaHei';
    color: #c81623;
}

.region_form .region_bd {
    width: 600px;
    margin: 0 auto;

}

.region_form .region_bd form {
    text-align: center;
    padding-top: 54px;
    font: normal 400 14px/36px 'Microsoft YaHei';
    color: #4d4d4d;
}

.region_form .region_bd form li {
    margin-bottom: 20px;
}

.region_form .region_bd form li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.region_form .region_bd form input[type='tel'],
.region_form .region_bd form input[type='text'],
.region_form .region_bd form input[type='password'] {
    width: 240px;
    height: 36px;
}

.region_form .region_bd form li .error_icon {
    display: inline-block;
    width: 225px;
    height: 20px;
    line-height: 20px;
    background: url(../images/error.png) no-repeat;
    padding-left: 25px;
    margin-left: 5px;
    color: #df3033;
    text-align: left;
    vertical-align: middle;
}

.region_form .region_bd form li .correct_icon {
    display: inline-block;
    width: 225px;
    height: 20px;
    line-height: 20px;
    background: url(../images/success.png) no-repeat;
    padding-left: 25px;
    margin-left: 5px;
    color: #40b83f;
    text-align: left;
    vertical-align: middle;
}
.region_form .region_bd form .safe {
    font: normal 400 12px 'Microsoft YaHei';
    color: #b3b3b3;
    margin-left: -90px;;
}
.region_form .region_bd form .safe em {
    display: inline-block;
    width: 34px;
    color: #ffffff;
    background-color: #de1111;
    margin-left: 1px;
}
.region_form .region_bd form .safe em:first-of-type {
    background-color: #40b83f;
    margin-left: 10px;
}
.region_form .region_bd form .safe em:last-of-type {
    background-color: #f79100;
}
.region_form .region_bd form .agree {
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 51px;
    margin-left: -160px;
}

.region_form .region_bd form .agree a {
    font-size: 12px;
    color: #1ba1e6;
}

.region_form .region_bd form input[type='submit'] {
    width: 200px;
    height: 34px;
    margin-left: -160px;
    background-color: #c81623;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}